.App-header {
    background-color: #282c34;
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: 600;
    color: white;
}
