.homeContent {
    display: flex;
    @apply flex-col py-4 px-8 gap-4 md:flex-row lg:py-8 lg:px-16 lg:gap-10;
}

.itemBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 50vh;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    & h3 {
        padding: 6px 0;
        margin-bottom: 5px;
        font-size: larger;
        font-weight: 500;
        border-bottom: 1px solid rgb(190, 190, 190);
    }
    & .item {
        padding: 4px 0;
        width: 100%;
    }
    & button {
        display: flex;
        justify-content: center;
        gap: 2%;
        padding: 10px;
        border-top: 1px solid rgb(190, 190, 190);
    }
}
